body{
    padding-top: 50px;
    z-index: 0;
    background-color: rgba(230, 223, 214, 0.795);
} 

.inline-date{
    width: auto;
    display: inline-block;
}

.filtro-turnos{
    width: auto;
    display: inline-flex;
    justify-content: space-between;
}

.jumbotron{
    padding: 50px 10px 50px 10px;
    margin: 0px auto;
    background: #ffffff;
}

.footer{
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: floralwhite;
}

.footer .row {
    margin: 10px;
}

.banner-img{
    height: 400px;
    width: 100%;
}